<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.proj.silverbars">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.app.proj.silverbars.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.app.proj.silverbars.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.proj.silverbars.WorkoutActivity">
        </activity>
        <activity
            android:name="com.app.proj.silverbars.MusicActivity"
            android:parentActivityName="com.app.proj.silverbars.WorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.proj.silverbars.WorkoutActivity" />
        </activity>
        <activity
            android:name="com.app.proj.silverbars.WorkingOutActivity"
            android:launchMode="singleTask" />
        <!-- <activity android:name=".Myworkouts" /> -->
        <activity android:name="com.app.proj.silverbars.PlaylistPickerActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.app.proj.silverbars.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.app.proj.silverbars.SplashScreen"
            android:theme="@style/SplashTheme" />
        <activity android:name="com.app.proj.silverbars.SearchActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.app.proj.silverbars.SpotifyMusic" />
        <activity android:name="com.app.proj.silverbars.SelectionMusicActivity" />
        <activity android:name="com.app.proj.silverbars.SongsActivity" />
        <activity
            android:name=".CreateWorkoutActivity"
            />
        <activity android:name=".ExerciseListActivity" />
        <activity android:name="com.app.proj.silverbars.orderExercises" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name="com.app.proj.silverbars.ProgressionActivity"></activity>
        <activity
            android:name="com.app.proj.silverbars.CreateWorkoutFinalActivity"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".CreateWorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateWorkoutActivity" />
        </activity>
        <activity android:name="com.app.proj.silverbars.WorkoutOptionsActivity"></activity>
    </application>

</manifest>